* {
    box-sizing: border-box;
    margin: 0;
    padding: 1px;
    font-family: 'Cinzel Decorative', cursive;
}

nav {
    position: static;
    padding-top: 10px;
    border: 10px;
    margin: 25px;
    background-color: #BFD8D2;
    text-align: center;

}

.anav {
    text-decoration: none;
    background-color: rgba(117, 146, 111, 0.704);
    font-size: 20px;
    color: black;
    padding: 10px;
    border: 5px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;

}

a:link {
    color: rgb(0, 255, 115);
}

.anav:hover {
    outline: 2px solid #DE744C;
}

a:visited {
    color: blue;
}

a:active {
    background-color: yellow;
    color: rgb(219, 115, 11);
}

p::selection {
    background-color: coral
}

p {
    padding: 10px;
    border: 10px;
    margin: 50px;
    font-size: 20px;
}

.redsocial {
    width: 20px;
}

#nombre_empresa {
    padding: 2px;
    margin: 2px;
    color: #DE744C;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    vertical-align: middle;
    text-shadow: 3px 2px 4px rgba(117, 146, 111, 0.704);
    letter-spacing: 5px;
    background-color: black;
}