@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@400;800&family=Poppins:wght@400;600;700;900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

*,
*::before,
*::after{
    margin:0%;
    padding: 0%;
    /* box-sizing: inherit; */
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Instrument Serif', serif;
    min-height: 10vh;
    box-sizing: border-box;
    

}

body{
    background-image: url(/3.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Instrument Serif', serif;
    
}

.contenedor_nosotros{
    height: 10px;
    text-align: center;
    opacity: .7;
}

.frase_nosotros{
    text-align: center;
    position: fixed; 
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: #fff;
    font-size: 30px;
    text-shadow: 5px 2px rgb(0, 0, 0);
    font-family: 'Instrument Serif', serif;
    
}



.contenedor{
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 200px auto;

}

/* .contenedor img{
    display: block;
    width: 100%;
    height: 100%;
} */

/* .contenedor h1{
    font-size: 2.6rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);

}  */



section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
/*botonwasap*/
.container-boton {
    color: #2e6329;
    /* border: 1px solid #fff;*/
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover {
    transform: scale(1.1);
    transition: 0.3s;

}

.boton {
    width: 50px;
    transition: ease 1s;
}

@keyframes efecto {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }

    100% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.0);
    }
}

.titulo {
    margin:auto;
    padding: auto;
    display:block;
    color: black;
    font-size: 60px;
    text-align: center;
    text-shadow: rgb(0, 229, 255) 1px 0 10px;
}

.container_mapas{
  

    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}


.titulo_sucursales{
   

margin-top: 150px;
   
    font-size: 65px;
    text-align: center;
    
    color: #fff;
    font-family: 'Times New Roman', Times, serif;

}

.mapa{
    
    
    border-radius: 40px;
    padding: 50px 30px;
    box-sizing: border-box;
    margin-top: 20px;
    
    transition: all 0.25;
    overflow: hidden;
    text-align: center;
    
}

#titulomapa{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    background-color: #0891ed72;
    font-weight:600;
    font-family: 'Times New Roman', Times, serif;

}

.sombra{
    background: rgba(0,0,0,0.4);
    padding: 100px;
 
}


.titulo_nosotros{
    font-size: 10px;
    text-align: center;
    font-size: 48px;
    color: #6a6a6a;
    margin-top: 100px; 
}