@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@400;800&family=Poppins:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*,
*::before,
*::after{
    margin:0%;
    padding: 0%;
    /* box-sizing: inherit; */
    box-sizing: border-box;
}

body{
    width: 100%;
   
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Merriweather', serif;
    min-height: 10vh;
    box-sizing: border-box;
    

} 
.header{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
     padding: 0px 10%;
    display: flex;
    align-items: center;
     justify-content: space-between; 
    z-index: 1000;
    text-align: center; 
}

.logo{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    margin-left: 0px;
}

.aero{
    margin-top: 10px;
    width: 40px;
}




.navigation ul {

    list-style: none;

}

.header .navigation ul li{
    float:left;
    position: relative;
   
}

.header .navigation ul li a {

    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all 2s ease;

}

.header .navigation ul li a:hover{

background-color:#0099FF;

}

.header .navigation ul li ul{

    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1,1,1,0.7);
    display:none;
}

.header .navigation ul li ul li a{

    font-size: 15px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul{
    position: absolute;
    top:0;
    right: 300px;

}

.header .navigation ul li ul li{

    width: 100%;

}
.header .navigation ul li:hover > ul {

    display: initial;
}

#toggle,
.header label{
    display:none;
    cursor:pointer;

}

.menu{
    width: 45px;
    height: 35px;
 
}

.titulo {
    margin:auto;
    margin-left: 15px;
    padding: auto;
    display: block; 
    color: black;
    font-size: 70px;
    text-align: left;
    text-shadow: rgb(60, 235, 255) 1px 0 10px;
}




@media screen and (max-width: 800px){
    h2{
        font-size: 50px;
    }
}

@media screen and (max-width: 500px){
    h2{
        font-size: 30px;
        margin-bottom: 0;
    }

    h2::after{
        display: none;
    }
}






@media (max-width:1051px) {

    .header label {
        display: initial;

    }

    .header {
        padding:5 px 10px;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;

    }

    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;

    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;

    }

    .header .navigation ul li ul li {
        background-color: black;
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;

    }
    

    #toggle:checked~.navigation {
        display: block;
    }

    
    
}




@media (min-width:600px){
    #logotitulo{
        font-size: 40px;
    }
    #destinos{
        font-size: 25px;
    }
    #icono{
        font-size:5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    }
}
@media (min-width:300px){
    #logotitulo{
        font-size: 35px;
    }
    #destinos{
        font-size: 25px;
    }
    #icono{
        font-size:3px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    }
}
@media (min-width:200px){
    
   

    #logotitulo{
        font-size: 28px;
    }
    #destinos{
        font-size: 25px;
    }
    #icono{
        font-size:1px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 4px;
    }
}




@keyframes efecto{
    0%{
     box-shadow: 0 0 0 0 rgba(0,0,0,0.85);
    }

     100%{
        box-shadow: 0 0 0 25px rgba(0,0,0,0.0);
     }
}
