<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Viaja ya</title>
    <link rel="icon" href="./imagenes/aeropuerto.ico">
</head>

<body>
    <header class="hero" id="header">

    </header>
    <main>

        <div class="container" id="app">
            <form style="background-color: aliceblue;margin:10px auto ; width: 400px; padding: 20px;">
                <h2>Editar Paquete </h2>
                <p>Precio:{{precio}}</p>
                <div class="mb-3">
                    <label for="id">Id</label>
                    <input type="number" name="id" id="id" disabled v-model="id">
                </div>
                <div class="mb-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" v-model="nombre">
                </div>
                <div class="mb-3">
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" v-model="precio">
                </div>
                <div class="mb-3">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" id="stock" v-model="stock">
                </div>
                <div class="mb-3">
                    <label for="imagen">Imagen</label>
                    <input type="text" name="imagen" id="imagen" v-model="imagen">
                    <img width="100" :src="imagen" alt="">
                </div>
                <button type="button" class="btn btn-success" v-on:click="modificar()">Grabar</button>
            </form>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
<script src="./js/main.js"></script>
<script src="./js/paquetes_editar.js"></script>
</body>
</html>